{% extends "_base.html" %}

{% block title %}Locations{% endblock title %}

{% block content %}
{% include "navbar.html" %}
<a href="{% url 'setup:location_add' %}" class="btn btn-success">Add Location</a>
{% if location_list %}
<div class="container">
    <table class="table table-sm">
        <thead class="thead">
            <tr>
                <th>Location ID</th>
                <th>Location Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for location in location_list %}
            <tr>
                <td>{{ location.location_id }}</td>
                <td>{{ location.location_name }}</td>
                <td><a class="btn btn-outline-dark" href="{% url 'setup:location_edit' location.pk %}">Edit</a></td>
                <td><a class="btn btn-outline-warning" href="{% url 'setup:location_delete' location.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h1>There are no locations currently setup.</h1>
{% endif %}
{% endblock content %}