{% extends "_base.html" %}

{% block title %}Job Positions{% endblock title %}

{% block content %}
{% include "navbar.html" %}
<a href="{% url 'setup:job_position_add' %}" class="btn btn-success">Add Position</a>
{% if job_position_list %}
<div class="container">
    <table class="table table-sm">
        <thead class="thead">
            <tr>
                <th>Position</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for position in job_position_list %}
            <tr>
                <td>{{ position.position_name }}</td>
                <td><a class="btn btn-outline-secondary" href="{{ position.get_absolute_url }}">Detail</a>
                </td>
                <td><a class="btn btn-outline-dark" href="{% url 'setup:job_position_edit' position.pk %}">Edit</a></td>
                <td><a class="btn btn-outline-warning"
                        href="{% url 'setup:job_position_delete' position.pk %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h1>There are no job positions currently setup.</h1>
{% endif %}
{% endblock content %}